<p id="notice"><%= notice %></p>
<h1><%= @person['name'] %></h1>

<p>
  <strong>Heigh:</strong>
  <%= @person['height'] %>
</p>


<p>
  <strong>Mass:</strong>
  <%= @person['mass'] %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @person['hairColor'] %>
</p>

<p>
  <strong>Skin color:</strong>
  <%= @person['skinColor'] %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @person['eyeColor'] %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @person['birthYear'] %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person['gender'] %>
</p>

<p>
  <strong>Homeworld:</strong>
  <%= link_to @person['homeworld']['name'], planet_path(@person['homeworld']['id']) %>
</p>



<p>
  <strong>Films:</strong>
  <% @person['filmConnection']['edges'].each do |film| %>
    <%= link_to film['node']['title'], film_path(film['node']['id']) %>-
  <% end %>
</p>

<p>
  <strong>Starships:</strong>
  <% @person['starshipConnection']['edges'].each do |starship| %>
  
  <%= link_to starship['node']['name'], starship_path(starship['node']['id']) %>-
    <%# <p><%= link_to get_name(starship, 'name'), starship_path(get_id(starship,'starships'))</p> %>
  <% end %>
</p>


<%= link_to 'Back', people_path %>