<p id="notice"><%= notice %></p>

<h1><%= @planet['name'] %></h1>

<p>
  <strong>Episode:</strong>
  <%= @planet['rotationPeriod'] %>
</p>

<p>
  <strong>Orbital period:</strong>
  <%= @planet['orbitalPeriod'] %>
</p>

<p>
  <strong>Diameter:</strong>
  <%= @planet['diameter'] %>
</p>

<p>
  <strong>Climate:</strong>
  <%= @planet['climate'] %>
</p>

<p>
  <strong>Gravity:</strong>
  <%= @planet['gravity'] %>
</p>

<p>
  <strong>Terrain:</strong>
  <%= @planet['terrain'] %>
</p>

<p>
  <strong>Surface water:</strong>
  <%= @planet['surfaceWater'] %>
</p>

<p>
  <strong>Population:</strong>
  <%= @planet['population'] %>
</p>

<p>
  <strong>Residents:</strong>
  <% @planet['residentConnection']['edges'].each do |person| %>
    <%= link_to person['node']['name'], person_path(person['node']['id']) %>-
  <% end %>
</p>

<p>
  <strong>Films:</strong>
  <% @planet['filmConnection']['edges'].each do |film| %>
    <%= link_to film['node']['title'], film_path(film['node']['id']) %>-
  <% end %>
</p>


<%= link_to 'Back', planets_path %>
