<p id="notice"><%= notice %></p>
<%= puts "film #{@film}" %>
<h1><%= @film['title'] %></h1>

<p>
  <strong>Episode:</strong>
  <%= @film['episodeID'] %>
</p>

<p>
  <strong>Opening crawl:</strong>
  <%= @film['openingCrawl'] %>
</p>

<p>
  <strong>Director:</strong>
  <%= @film['director'] %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @film['producers'] %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @film['releaseDate'] %>
</p>

<p>
  <strong>Characters:</strong>
  <% @film['characterConnection']['edges'].each do |person| %>
    <%= link_to person['node']['name'], person_path(person['node']['id']) %> -
  <% end %>
</p>
 
<p>
  <strong>Planets:</strong>
  <% @film['planetConnection']['edges'].each do |planet| %>
    <%= link_to planet['node']['name'], planet_path(planet['node']['id']) %> -
  <% end %>
</p>

<p>
  <strong>Starships:</strong>
  <% @film['starshipConnection']['edges'].each do |starship| %>
  <%= link_to starship['node']['name'], starship_path(starship['node']['id']) %> -
  <% end %>
</p>

<%= link_to 'Back', films_path %>
